// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2{
  font-family: Roboto;
  color: blue
}

.output{
  display: inline;
  margin: 0 auto;
  border: solid;
  border-color: black;
  padding: 20px;
}
